# Ignore Everything
/*

# Except for these:
!/.gitignore
!/Assets
!/ProjectSettings
!/Packages/manifest.json
Assets/Resources/Dialogue/Initial.json
Assets/Resources/Dialogue/Initial_stairs.json
Assets/Resources/Dialogue/Initial_MUZEUM.json
Assets/Resources/Dialogue/Initial_stairs.json
Assets/Resources/Dialogue/Initial_MUZEUM.json
Assets/Resources/Dialogue/Initial_MUZEUM.json
Assets/Resources/Dialogue/Initial_stairs.json
Assets/Resources/Dialogue/Initial_MUZEUM.json
